<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.imaginat.justhejist.jist"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--<meta-data-->
                <!--android:name="android.app.searchable"-->
                <!--android:resource="@xml/searchable"/>-->
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>




        <activity android:name=".Activities.TabsActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <!--<provider-->
        <!--android:name="com.imaginat.justhejist.jist.sync.StubProvider"-->
        <!--android:authorities="com.imaginat.justhejist.jist.sync.StubProvider"-->
        <!--android:exported="false"-->
        <!--android:syncable="true"/>-->
        <service
            android:name="com.imaginat.justhejist.jist.sync.MySyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!--<service-->
            <!--android:name=".services.TopStoriesSyncService"-->
            <!--android:exported="true"-->
            <!--android:permission=""-->
            <!--android:process=":sync">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.content.TopStoriesSyncAdapter"/>-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.content.AbstractThreadedSyncAdapter"-->
                <!--android:resource="@xml/topstoriessyncadapter"/>-->
        <!--</service>-->
        <!--<service android:name=".services.AuthenticatorService">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.content.SyncAdapter"/>-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.content.SyncAdapter"-->
                <!--android:resource="@xml/syncadapter" />-->
        <!--</service>-->


        <provider
            android:name=".sync.StubProvider"
            android:authorities="com.imaginat.justhejist.jist.sync.StubProvider"
            android:exported="false"
            android:label="my provider"
            android:syncable="true"/>

        <!--<activity-->
            <!--android:name=".Activities.TabsActivity"-->
            <!--android:parentActivityName=".Activities.MainActivity">-->
        <!--</activity>-->
        <activity
            android:name=".Activities.StoryActivity"
            android:label="@string/title_activity_story"
            android:parentActivityName=".Activities.TabsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imaginat.justhejist.jist.Activities.TabsActivity"/>
        </activity>

    </application>

</manifest>
